# -----------------------------
# Miscellaneous
# -----------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -----------------------------
# IDE / Editor
# -----------------------------
*.iml
*.ipr
*.iws
.idea/
.vscode/

# -----------------------------
# Flutter / Dart
# -----------------------------
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# iOS build artifacts
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/App.framework

# Obfuscation / Symbolication
app.*.symbols
app.*.map.json

# -----------------------------
# Flutter Web Build
# -----------------------------
# Ignore everything in build folder
/build/**

# But include web build folder and all its content
!/build/web/
!/build/web/**